# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://github.com/Faiqa-Sajid/Pandas-Data-Science-Tasks/tree/master/SalesAnalysis/Output

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
all_data = pd.read_csv(r"C:\Anaconda\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data/all_data.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

Code to view all the NaN values of my dataset :

In [2]:
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

Now that I know exactly where my NaN values are ; I will drop all of those in order to successfully add a month column to my previous notebook:

In [3]:
all_data = all_data.dropna(how='all')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
#looking for outliers

all_data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In my previous notebook while I was converting the months column format to strings I encountered this error: invalid literal for int() with base 10: 'Or' So now the task is to Find 'Or' and delete it :

In [5]:
temp_df =  all_data[all_data['Order Date'].str[0:2] == 'Or']
temp_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [6]:
#deleting 'Or' values :
all_data =  all_data[all_data['Order Date'].str[0:2] != 'Or']

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [9]:
#trying to look out for inconsistencies in data:
all_data[['Product', 'Quantity Ordered']].groupby(['Product']).describe()

                           Quantity Ordered
                                      count unique top   freq
Product
20in Monitor                           4101      2   1   4073
27in 4K Gaming Monitor                 6230      2   1   6216
27in FHD Monitor                       7507      2   1   7464
34in Ultrawide Monitor                 6181      2   1   6163
AA Batteries (4-pack)                 20577      7   1  15333
AAA Batteries (4-pack)                20641      9   1  13726
Apple Airpods Headphones              15549      3   1  15438
Bose SoundSport Headphones            13325      3   1  13195
Flatscreen TV                          4800      2   1   4781
Google Phone                           5525      2   1   5518
LG Dryer                                646      1   1    646
LG Washing Machine                      666      1   1    666
Lightning Charging Cable              21658      4   1  20210
Macbook Pro Laptop                     4724      2   1   4720
ThinkPad Laptop                        4128      2   1   4126
USB-C Charging Cable                  21903      6   1  20019
Vareebadd Phone                        2065      2   1   2062
Wired Headphones                      18882      4   1  17361
iPhone                                 6842      2   1   6835

# Exporting cleaned data as a CSV file :

In [7]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\Faiqa Saji'

In [8]:

all_data.to_csv(r"C:\Anaconda\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data/all_dataexport.csv", sep=",")

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
I mainly used two types of data cleaning methods:Missing data and Unnecessary data,but I did tried to look out for outliers and inconsistent data through describe() method .
2. Did the process of cleaning your data give you new insights into your dataset?
Yes ! It helped me to analyze the data deeper in order to know what items sold the most in what months . And also what cities were higher in sales in compared to others. Cleaning also allowed me to add specific columns that I needed for my analysis.
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
I think it will be fun to show visualization of my sales analysis using Tableau as a tool.